.container {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 2rem 4rem;


    button {
        font-size: 1.125rem;

        font-weight: 600;
        line-height: 1.375rem;
        padding-top: 4rem;

        background: none;
        border: none;

        color: var(--pink-500);

        transition: brightness 0.2s;
    }

    &:hover button {
        filter: brightness(0.8);
    }


    .disabled {
        cursor: not-allowed;
        color: var(--pink-500);
    }
}

.posts {
    max-width: 720px;
    margin: 5rem auto 0;

    a {
        display: block;

        & + a {
            margin-top: 3rem;
            padding-top: 3rem;
        }

        strong {
            display: block;

            font-weight: 700;
            font-size: 1.75rem;
            
            margin-top: 1rem;
            line-height: 2.125rem;

            color: var(--gray-50);

            transition: color 0.2s;
        }

        p {
            margin-top: 0.5rem;
            line-height: 1.375rem;
            color: var(--gray-300);
        }


        &:hover strong {
            color: var(--pink-500);
        }
        
    }
}
